{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TG vs HG</title>
		<script src="{% static "sortable.min.js" %}"></script>
		<link rel="stylesheet" href="{% static "sortable-theme-bootstrap.css" %}"/>
	</head>
	<body>
		<table class="sortable-theme-bootstrap" data-sortable>
			<caption>Points Table</caption>
			<thead>
				<tr>
					<th colspan="" rowspan="" headers="" scope="">Player Name</th>
					<th colspan="" rowspan="" headers="" scope="">Team Name</th>
					<th colspan="" rowspan="" headers="" scope="">Score</th>
					<th colspan="" rowspan="" headers="" scope="">Rank</th>
				</tr>
			</thead>
			<tbody>
			{% for node in data %}
				<tr>
					<td colspan="" rowspan="" headers="">{{ node.f_name }}</td>
					<td colspan="" rowspan="" headers="">{{ node.t_name }}</td>
					<td colspan="" rowspan="" headers="">{{ node.score }}</td>
					<td colspan="" rowspan="" headers="">{{ node.rank }}</td>
				</tr>
			{% endfor %}
			</tbody>
			<!-- <script>Sortable.init()</script> -->
		</table>
	</body>
</html>